<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/daum.css')}}">
</head>
<body>
    <div class="daum">
        <ul>
            {% for title, link in zip(daum_titles, daum_links) %}
                <a href="{{link}}" target="_blank"><li>{{ title }}</li></a>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>